.main-footer{
    background-color: black;
    /* margin-top: 2rem; */
    padding:.7rem;
}
.footertopstyle{
    height: 4px;
    width: 100%;
    background-color: #F2AA4CFF;
    display: block;
}
.main-footer__content{
    color: white;
}
.main-footer__content h2{
    font-size: 1.2rem;
    padding-bottom: .3rem;
    padding-top: 1rem;
}
.main-footer__content h3{
    font-size: 1.2rem;
}
.main-footer__content span{
    color: #F2AA4CFF;
}
h3 span{
    color: #F2AA4CFF;
}