.codeandvideo{
    display: flex;
    flex-flow:wrap;
}
.codearea{
   flex:.65;
   display: block;
}
.videoarea{
    flex: .40;
}
.codeareastyles{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;
}



