.main-bodycontent {
  min-height: 200vh;
}
.vidback {
  position: relative;
  height: 100vh;
  top: 0;
  left: 0;
}
.vid-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.banner-text h2 {
  text-transform: uppercase;
  font-size: 5.5rem;
  color: white;
  margin-bottom: 0px;
}
.banner-text span {
  color: #f2aa4cff;
}
.banner-text p {
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 40px;
}
.banner-text a {
  margin-top: 20px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid white;
  border-radius: 100px;
  transition: all 0.1s;
}

.banner-text a:hover {
  box-shadow: 1px 1px 14px #f2aa4cff;
}
.Features_heading {
  text-transform: uppercase;
  margin-top: 3rem;
  transform: skewX(-16deg);
  letter-spacing: 0.4rem;
  text-align: center;
  transition: 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.Features_heading h1 {
  font-size: 3.2rem;
}
.Features_heading:hover {
  transform: scaleX(1.06);
}
.Features_heading span {
  color: #f2aa4cff;
}
.Features_heading hr {
  width: 50%;
  transform-origin: center;
  border: 1px solid rgb(255, 255, 255);
  height: 0px;
  background: rgb(255, 255, 255);
}
.feature_cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 70%;
  margin : auto;
}
.lastsection {
  /* margin: 2rem; */
  margin-top: 3rem;
  /* margin-bottom: 2rem; */
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.lastsection h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transform: skewX(-16deg);
  transition: 0.2s;
}
.lastsection h1 span {
  color: #f2aa4cff;
}
.lastsection h1:hover {
  transform: scaleX(1.05);
}

.section {
  perspective: 800px;
  perspective-origin: 50% 100px;
  margin-top: 40px;
  margin-bottom: auto;
}
body {
  overflow-x: hidden;
}
.cube {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
  animation: cube-spin 7.5s infinite linear;
}
.cube div {
  position: absolute;
  width: 250px;
  height: 250px;
  opacity: 0.85;
  /* background-color: #3e526a; */
  /* box-shadow: inset 0 0 100px #02203c; */
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 2px solid #f2aa4cff;
}
.cube div img {
  /* position: absolute; */
  opacity: 0.8;
  width: 250px;
  height: 250px;
  /* background: rgba(255, 255, 255, 0.671); */
  /* background-color: #02203c;
    box-shadow: inset 0 0 100px #02203c; */
  /* box-shadow: inset 0 0 30px rgba(40, 135, 179,0.5); */
  /* font-size: 20px;
    text-align: center;
    left:0;
    line-height: 200px;
    color: rgba(0,0,0,0.5);
    font-family: sans-serif;
    text-transform: uppercase; */
  background-color: white;
}


/* body{
  background:black;
} */

.main-bodycontent{
  background-color: black;
}

.langImage{
  height: 300px;
  width: auto;
}