.video-grid video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 200px;
    margin: 1.5rem;
  }
  .video-grid{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: flex-start;
    flex-flow: wrap;
    overflow-y: scroll!important;
  }